p, h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  font-size: 1.2em;
}

.referencias {
  align: center;
  text-align: left;
  color: grey;
  margin: 3em 5%;
  padding: 2em;
  vertical-align: middle;
  background-color: #efefef;
  border-radius: 0.5em;
}

img {
  width: 100%;
  max-width: 1000px;
  max-height: 100%;
}

a {
  text-decoration: none;
}

a:link {
  color: #4CAF50;
}

a:hover {
  color: #a4f;
}

a:visited {
  color: #a4f;
}

a:active {
  color: pink;
}

.icon {
  width: 1em;
}

.contenedor {
  width: 100%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

body {
  background-color: #fefefe;
}

hr {
  border: solid 1px #f5f5f5;
  margin: 2em;
}

.button {
  margin: 1em;
  background-color: #4CAF50;
  border: none;
  border-radius: 1em;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-hover: #a4f;
  }

.button2 {
    background-color: #a4f;
    border: none;
    border-radius: 1em;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }

.button2:hover {
      background-color: #4CAF50;
    }
